.aside-video-container {
  display: flex;
  gap: 1vw;
}

.thumb {
  width: 50%;
}

.aside-video-infos {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.aside-video-infos span:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
}
