.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 2vw;

  background-color: #ffffff;
}

.header--left,
.header--right {
  display: flex;
  justify-content: space-between;
  width: 8vw;
}

.header--center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  filter: drop-shadow(0 0.5vh 0.75rem rgba(0, 0, 0, 0.25));
}
.header--center input {
  width: 90%;
  height: 3vh;
  padding-left: 1rem;
  font-size: 1rem;
}
.header--center img {
  max-width: 10%;
  height: 3vh;
  background-color: #cccccc;
  padding: 0.1vw;
}
